@use "../helpers" as *;

.button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: rem(14);
    line-height: 2;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--color-light);
    border: var(--border);
    border-radius: rem(30);
    padding: rem(14) rem(31);

    &--white {
        color: var(--color-dark);
        background-color: var(--color-light);
        padding: rem(7) rem(26);
    }

    &--arrow {
        padding-right: rem(80);
    }

    &--arrow::after {
        content: '';

        position: absolute;
        right: 0;
        height: 100%;
        aspect-ratio: 1;
        background: url('../../icons/arrow-top-right.svg') center/70% no-repeat;
        border: var(--border);
        border-radius: 50%;
    }
}