@use "../helpers" as *;

.calculator {
    margin-block: rem(55);

    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        column-gap: 1rem;

        @include tablet {
            display: flex;
            flex-direction: column;
            row-gap: rem(20);
        }
    }

    &__body {
        &-title {
            padding-bottom: rem(16);
        }

        &-description {
            padding-bottom: rem(31);
            max-width: rem(386);
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        row-gap: rem(10);

        @include mobile-s-above {
            display: grid;
            grid-template-areas: 
                'input-1 input-2'
                'input-3 input-4'
                'input-5 input-5';
            gap: rem(18) rem(30);

            &-input--1 {
                grid-area: input-1;
            }

            &-input--2 {
                grid-area: input-2;
            }

            &-input--3 {
                grid-area: input-3;
            }

            &-input--4 {
                grid-area: input-4;
            }

            &-input--5 {
                grid-area: input-5;
            }
        }

        

        &-button {
            margin-top: rem(10);
            max-width: rem(194);
            background-color: transparent;
        }
    }

    &__table {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: rem(610);
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: var(--color-dark);

        @include tablet {
            min-width: rem(500);
        }

        @include mobile-s {
            min-width: rem(350);
        }

        &-inner th {
            padding-block: rem(17);
            text-align: left;
            border-bottom: var(--border);
        }

        &-inner th:not(:last-child) {
            border-right: var(--border);
        }

        &-inner th:not(:first-child) {
            padding-left: rem(31);
        }

        &-inner td {
            padding-block: rem(12);
            width: rem(183);
            border-bottom: var(--border);

            @include mobile-s {
                width: rem(160);
            }
        }

        &-inner td:not(:last-child) {
            border-right: var(--border);
        }

        &-inner td:not(:first-child) {
            padding-left: rem(31);
        }

        &-description {
            font-size: rem(14);
            padding-top: rem(33);

            &--strong {
                font-weight: 700;
                font-size: 16px;
                letter-spacing: 0.05em;
                color: var(--color-light);
            }
        }
    }
}