@use "../helpers" as *;

.footer {
    &__body {
        padding-block: rem(150);
        background-color: var(--color-dark);

        @include laptop {
            padding-block: rem(50);
        }
    }

    &__info {
        display: flex;
        align-items: center;
        column-gap: rem(60);
        margin-bottom: fluid(60, 30);

        @include mobile {
            flex-direction: column;
            align-items: start;
            row-gap: rem(15);
        }

        &-description {
            @include fluid-text(20, 16);

            line-height: 1.65;
            text-transform: uppercase;
            color: var(--color-light);
        }
    }

    &__contacts {
        color: var(--color-light);
        &-list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 1rem;

            @include tablet {
                grid-template-columns: repeat(2, 1fr);
                row-gap: rem(30);
            }

            @include mobile-s {
                grid-template-columns: repeat(1, 1fr);
            }
        }

        &-title {
            @include fluid-text(22, 18);
            line-height: 1.7;
            padding-bottom: rem(16);
        }

        &-info {
            padding-bottom: rem(15);
        }

        &-address {
            padding-bottom: rem(35);
        }

        &-form {
            position: relative;
            display: inline-flex;
            justify-content: end;

            &-input {
                border: var(--border);
                min-width: fluid(300, 200);
                height: rem(54);
            }

            &-button {
                position: absolute;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                min-width: rem(54);
                aspect-ratio: 1;
                background-color: transparent;
                border: var(--border);
                border-radius: 50%;
            }
        }
    }

    &__soc1al {
        margin-top: rem(50);

        &-list {
            display: flex;
            align-items: center;
            column-gap: rem(19);
        }
    }

    &__copyright {
        line-height: 2;
        color: var(--color-light);
        padding-block: rem(15);

        @include mobile-above {
            display: flex;

            &-item:not(:last-child)::after {
                content: '|';
                padding-right: rem(5);
            }
        }
    }
}