@use "../helpers" as *;

.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: var(--header-height);
        column-gap: 1rem;

        @include tablet {
            --header-height: #{rem(60)};
        }
    }

    &__menu {
        font-size: rem(14);
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: var(--color-light);

        &-link {
            display: flex;
            align-items: center;
            column-gap: rem(7);

            &.is-active {
                pointer-events: none;

                &::after {
                    content: '';

                    @include square(rem(5));

                    background-color: currentColor;
                    border-radius: 50%;
                }
            }
        }
    }

    &__menu-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: rem(60);

        @include tablet {
            column-gap: rem(25);
        }

        @include mobile {
            flex-direction: column;
            row-gap: 1rem;
        }
    }

    &__overlay {
        @include mobile-above {
            display: contents;
        }

        @include mobile {
            position: fixed;
            inset: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            row-gap: 3rem;
            padding: 1rem;
            background-color: var(--color-dark);
            transition-duration: var(--transition-duration);

            &:not(.is-active) {
                @include hide;

                translate: 100%;
            }
        }
    }

    &__button {
        @include mobile {
            width: 100%;
            max-width: rem(300);
            align-self: center;
        }
    }
}