@use 'helpers' as *;

:root {
    --color-light: #FFFFFF;
    --color-gray: #c4c4c4;
    --color-gray-alternate: #404040;
    --color-dark: #000000;
    --color-dark-accent: #131619;

    --border: #{rem(1)} solid var(--color-light);

    --font-family-base: 'Heebo', sans-serif;
    --font-family-accent: 'Yantramanav', sans-serif;

    --container-width: #{rem(1920)};
    --container-width-small: #{rem(1300)};
    --container-padding-x: #{rem(15)};

    --header-height: #{rem(90)};

    --border: 1px solid var(--color-light);

    --transition-duration: 0.2s;
}